<html>
<head>
	<title>{{ pageTitle|default('Falcon') }}</title>
</head>
<body>

{% block navigation %}
	{% include "admin._navigation" %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</head>