<html>
<head>
	<title>{{ pageTitle|default('Falcon') }}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
</head>
<body>

<div class="navigation">
  {% block navigation %}
    <h1>Falcon</h1>
  	{% include "admin._navigation" %}
  {% endblock %}
</div>

<div class="content-wrap">
  <div class="content">
    <div class="page" data-paged-uri="/{{ request_path() }}">
      {% include "admin._messages" %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<script src="/javascripts/jquery-2.1.0.min.js"></script>
<script src="/javascripts/scripts.js"></script>

</body>
</head>